<h1>Pick a language to find your codealong!</h1>


    <% @languages.each do |language| %>
            <%= link_to image_tag("#{language.name.downcase}.png"), language_path(language), :class => 'floatLeft' %>
    <% end %>
