/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require rails_bootstrap_forms
*= require_self
*= require_tree .
*/

  @import "bootstrap-sprockets";
  @import "bootstrap";

//adds responsiveness to the entire site
.container {
  background-image: url("background.png");
  background-repeat: repeat;
  background-size: 100%;
}

//changing the font on all of my p tags
p {
  font-family: 'Lato', sans-serif;
}

//white font for the navbar when hovered over
navbar-link {
  color: #777777;
}

//add padding and background behind content on each page
.words {
  background-color: rgba(255,255,255, 0.5);
  padding: 2%;
  border-radius: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

// main data divs
.data {
  background-color: rgba(255,255,255, 0.5);
  border-radius: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

//adds space around content on each page
.content {
  margin: 3%;
}

.paddng {
  padding-left: 5%;
  padding-right: 5%;
}

//title on each page
h1 {
  text-align: center;
  font-family: 'Monda', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}

//fixes front page
.coupleImg {
  margin-bottom: 5%;
}

//subtitles
.subtitle {
  margin-top: 10%;
}

button {
  font-family: 'Monda', sans-serif;
}

strong {
  font-family: 'Monda', sans-serif;
  font-size: 25px;
}

li {
  padding: 5px;
  list-style: none;
}

//Sign in/Log in buttons
.btnPill {
  padding: 2% 10%;
  margin: 5% 3%;
  background-color: #b0c6fd;
  text-align: center;
  border: 5px solid black;
  border-radius: 75px;
  text-align: center;
  font-family: 'Monda', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

//pill buttons
.btnPill:hover {
  font-weight: bold;
  text-decoration: none;
}

//float
.floatLeft {
  width: 40%;
  height: 40%;
  float: left;
  padding: 3%;
  margin: 0 auto;
}

//fixing float left
.clearfix {
  clear: both;
}

//fix floated objects
.centerIt {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}
